@model mvc_project.Models.ViewModels.FichaPersonalViewModel
@{
    ViewData["Title"] = "Ficha personal trabajo 2";
}

<center>
    <h1>Ficha Personal 2</h1>
    <h2>ejemplo de composición y no herencia -inyección de dependencia-</h2>
</center>

@if(Model != null && Model.Persona != null)
{
    <strong><span>Nombre: </span></strong>@Model.ObtenerNombre()<br>
    <span>Apellido: </span>@Model.ObtenerApellido()<br>
    <span>Altura: </span>@Model.ObtenerAltura()<br>
    <span>Tipo de documento: </span>@Model.ObtenerTipoDocumento()<br>
    <span>Número de documento: </span>@Model.ObtenerNumeroDocumento()<br>

    <b>Datos laborales</b>
    <strong><span>Domicilio: </span></strong>@Model.ObtenerDomicilioLaboral2()<br>
    <strong><span>Ingreso mensual: </span></strong>@Model.ObtenerIngresoMensual2()<br>
    <strong><span>Ingreso por hora: </span></strong>@Model.ObtenerValorHora2()<br>
}