@{
    ViewData["Title"] = "Actividades";
}

<p>
    Actividades
</p>

<ol>
    <li>
        <a href="@Url.Content("~/Persona/FichaPersonal")">Ver ficha personal (ejemplo de construcción de una vista usando ViewModel)</a>
    </li>
    <li>
        <a href="@Url.Content("~/Persona/FichaPersonalTrabajo")">Ver ficha personal (ejemplo de herencia y polimorfismo)</a>
    </li>
    <li>
        <a href="@Url.Content("~/Persona/FichaPersonalTrabajo2")">Ver ficha personal 2 (ejemplo de composición y no herencia -inyección de dependencia-)</a>
    </li>
    <li>
        <a href="@Url.Content("~/Singleton/EjemploSingleton")">Ejemplo de uso del singletón</a>
    </li>
    <li>
        <a href="@Url.Content("~/State/EjemploState")">Ejemplo de uso del patrón state</a>
    </li>
    <li>
        <a href="@Url.Content("~/Composite/EjemploComposite")">Ejemplo de uso del patrón composite</a>
    </li>
    <li>
        <a href="@Url.Content("~/Decorator/EjemploDecorator")">Ejemplo de uso del patrón decorator</a>
    </li>
    <li>
        <a href="@Url.Content("~/Facade/EjemploFacade")">Ejemplo de uso del patrón facade</a>
    </li>
</ol>